---
title: Red Carpet Careers
layout: default.hbs
---

<section class="hero">
  <h1><span class="light">Red Carpet</span> Careers</h1>
  <a href="#careers" class="explore-btn">Explore Careers</a>
</section>

<section class="intro">
  <p>Introductory content goes here.  This new website is sort of a “day in the life” glimpse into each career – career description, starting salary, education required, and what majors to pursue if interested in a particular career. Ut ultrices a arcu non porta. Morbi tristique suscipit orci. Pellentesque id rhoncus urna, eget laoreet augue. Nullam diam orci, aliquet eget neque et, viverra semper arcu. Praesent bibendum quam tellus, sit amet auctor erat consectetur at. Nam tincidunt ac risus vel laoreet. Ut vel auctor elit, mollis venenatis erat. Curabitur vel erat diam. Curabitur dictum, nunc in cursus porta, mauris nunc bibendum elit, vel placerat lorem felis et orci.</p>

  <p>Quisque eget odio rhoncus, feugiat odio sit amet, elementum urna. Integer porttitor quis magna non finibus. Donec a tortor suscipit, eleifend tortor sed, mollis mauris. Vivamus ut bibendum nisl. Nunc elementum, erat in consectetur laoreet, lectus urna porta massa, nec imperdiet tellus magna et purus. Vestibulum leo diam, pulvinar in ante vel, rutrum laoreet urna. Proin sit amet est urna. Sed sed quam ut lorem faucibus volutpat. Nulla pretium enim nec quam posuere cursus. Aenean quis enim ac urna ornare vehicula.</p>

</section>


<section id="careers">

  <div class="row">
  {{#tags}}
    {{#is tag "careers"}}
      {{#each pages}}
        <div class="col-sm-4">
          <div class="career-panel">
            {{ data.title }}
            <i class="glyphicon glyphicon-{{ data.icon }}"></i>
          </div>
        </div>
      {{/each}}
    {{/is}}
  {{/tags}}
  </div>

</section>

