---
title: Red Carpet Careers
layout: homepage.hbs
---

<section class="hero">
  <h1>Red Carpet Careers</h1>
  <a href="#careers" class="btn btn-primary">Explore Careers</a>
</section>

<section class="intro">
  <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vivamus mattis, libero nec vestibulum condimentum, diam massa egestas justo, sed laoreet sapien nisi commodo felis. Ut ultrices a arcu non porta. Morbi tristique suscipit orci. Pellentesque id rhoncus urna, eget laoreet augue. Nullam diam orci, aliquet eget neque et, viverra semper arcu. Praesent bibendum quam tellus, sit amet auctor erat consectetur at. Nam tincidunt ac risus vel laoreet. Ut vel auctor elit, mollis venenatis erat. Curabitur vel erat diam. Curabitur dictum, nunc in cursus porta, mauris nunc bibendum elit, vel placerat lorem felis et orci. Pellentesque hendrerit dolor eget elit lacinia, vel venenatis turpis consequat. Fusce feugiat nisl orci. Morbi eget rutrum lacus, vitae vehicula tellus. Duis nec eros ultricies, mollis dolor eget, congue augue. Suspendisse non scelerisque enim. Nam imperdiet turpis ligula.</p>

  <p>Quisque eget odio rhoncus, feugiat odio sit amet, elementum urna. Integer porttitor quis magna non finibus. Donec a tortor suscipit, eleifend tortor sed, mollis mauris. Vivamus ut bibendum nisl. Nunc elementum, erat in consectetur laoreet, lectus urna porta massa, nec imperdiet tellus magna et purus. Vestibulum leo diam, pulvinar in ante vel, rutrum laoreet urna. Proin sit amet est urna. Sed sed quam ut lorem faucibus volutpat. Nulla pretium enim nec quam posuere cursus. Aenean quis enim ac urna ornare vehicula.</p>

</section>


<section id="careers">

  <div class="row">
  {{#tags}}
    {{#is tag "careers"}}
      {{#each pages}}
        <div class="col-sm-4">
          <div class="career-panel">
            {{ data.title }}
            <i class="glyphicon glyphicon-{{ data.icon }}"></i>
          </div>
        </div>
      {{/each}}
    {{/is}}
  {{/tags}}
  </div>

</section>

