---
component: offcanvas-navbar
---
<!-- Offcanvas navbar -->
<input type="checkbox" id="drawer-toggle" name="drawer-toggle" checked/>
<label for="drawer-toggle" id="drawer-toggle-label"></label>
<nav id="drawer">
  <div class="sidenav-logo">
    <a href="/">
      <img src="/assets/crittenton_color.jpg" alt="Crittendon">
    </a>
    <h3><span class="light">Red Carpet</span> Careers</h3>
  </div>
  <ul>
    {{#each pages}}
    <li{{#if this.isCurrentPage}} class="active"{{/if}}>
      <a href="{{../sitepath}}/{{filename}}">{{ data.title }}</a>
    </li>
    {{/each}}
  </ul>
</nav>
