.career-page {
  .banner {
    position: relative;
    h1 {
      position: absolute;
      font-weight: 300;
      text-align: center;
      padding: 15px;
      margin-bottom: 0;
      left: 0;
      right: 0;
      bottom: -1px;
      background: rgba(0, 0, 0, 0.4);
      color: #fff;
    }
  }
}

#facts {
  background: $purple;
  padding: 15px 30px 30px;
  h2 {
    color: #fff;
  }
  .facts {
    background: #fff;
    border-radius: 3px;
    border-style: none;
    padding: 15px;
    font-size: 1.3em;
    .highlight {
      color: $orange;
    }
  }
}

#description, #connect, #internships {
  padding: 30px;
}

img.left {
  float: left;
}

.testimonial {
  margin-top: 1em;
}

#connect h2 {
  text-align: center;
  border-color: $yellow;
  border-width: 2px 0;
  border-style: solid;
  padding: 10px;
  font-family: $serif;
  font-style: italic;
  font-weight: 300;
  text-transform: none;
}

#connect {
  .panel-heading {
    padding: 0;
  }
}


#internships {
  background: $yellow;
  h2 {
    color: #fff;
  }
  a {
    color: lighten($purple, 5%);
  }
}
