.career-page {
  .banner {
    position: relative;
    h1 {
      position: absolute;
      font-weight: 300;
      text-align: center;
      padding: 15px;
      margin-bottom: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background: rgba(0, 0, 0, 0.4);
      color: #fff;
    }
  }
}

#facts {
  background: $purple;
  padding: 15px 30px 30px;
  h2 {
    color: #fff;
  }
  .facts {
    background: #fff;
    border-radius: 3px;
    border-style: none;
    padding: 15px;
    font-size: 1.3em;
    .highlight {
      color: $orange;
    }
  }
}

#description {
  padding: 30px;
}
