.hero {
  background: url('/assets/cityskyline.jpg');
  background-size: cover;
  min-height: 40vh;
  overflow: hidden;
  text-align: center;

  h1 {
    color: $purple;
    font-size: 4em;
  }
  a.explore-btn {
    font-family: $sans-serif;
    display: inline-block;
    padding: 10px;
    font-weight: 300;
    text-transform: uppercase;
    margin-top: 30px;
    background: $orange;
    border: solid darken($orange, 5%);
    border-width: 0px 0px 3px 0px;
    color: #fff;
    &:hover {
      border-width: 3px 0 0 0;
      text-decoration: none;
    }
  }
}

span.light {
  font-weight: 300;
}

#careers {
  background: $yellow;
  padding: 30px 0;
}
.career-panel {
  text-align: center;
  padding: 10px 0;
  height: 100px;
  margin-bottom: 30px;
  font-family: $sans-serif;
  text-transform: uppercase;
  i {
    display: block;
    font-size: 4em;
  }
  background: #fff;
  a {
    color: inherit;
    &:hover {
      text-decoration: none;
      color: black;
    }
  }
}

.row {
  margin: 0;
}

.intro {
  padding: 30px;
}
